@mixin flex($display, $justify-content, $align-items, $flex-direction:no-wrap,$gap:0px) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}