#about {
  margin-top: 55px;

  .about-header {
    text-align: center;
    font-size: 15px;
    margin:20px;
    
    p {
      font-size: 15px;
      text-align: center;
      align-items: center;
      margin: 15px auto;
      width: 400px;
     
    }
  }

  .about-cards {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    .about-card {
      // display: flex;
      // justify-content: center;
      width: 200px;
      text-align: center;
      margin: 18px;
      // gap: 25px;

      i {
        align-items: center;
        font-size: 60px;
        border: 2px solid pink;
        border-radius: 100%;
        padding: 30px;
      }

      button {
        background: local;
        color: black;
        border: 1px solid black;
        padding: 10px 15px;
      }
    }
  }
}
