.services {
    background-color: #2b2f3e;
    color: #fff;
    text-align: center;
    padding: 60px 0;

    h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    p {
        max-width: 600px;
        margin: 0 auto 30px;
        font-size: 1.1rem;
        color: #b3b3b3;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {
            background-color: #343a48;
            padding: 20px;
            width: 30%;
            margin-bottom: 20px;
            transition: transform 0.3s ease;
            height: 250px;
            border: 2px solid white;

            &:hover {
                transform: translateY(-10px);
            }

            i {
                font-size: 40px;
                margin-bottom: 10px;
                color: #f05f40;
                align-items: center;
            }

            h3 {
                font-size: 1.3rem;
                margin-top: 10px;
            }
        }
    }

    // Responsiv üçün media query
    @media (max-width: 768px) {
        .cards {
            .card {
                width: 45%;
            }
        }
    }

    @media (max-width: 480px) {
        .cards {
            flex-direction: column;

            .card {
                width: 100%;
            }
        }
    }
}